.container{
    width: 80%;
    height: 300px;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
    margin-top: 35px;

}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.botones{
    float: right;
    position: relative;
    top:30px;
    right:20px;
}
.num{
    float: left;
    position: relative;
}